<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-sensor-compass"
    version="0.1.0">
    <name>nat-sensor-compass</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,compass</keywords>
    <repo>https://github.com/Natjs/weex-nat-sensor-compass.git</repo>
    <issue>https://github.com/Natjs/weex-nat-sensor-compass/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatCompass" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatCompass" />
                 <param name="api" value="nat/sensor/compass" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatCompass.h"/>
         <source-file src="ios/WeexNatCompass.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="SensorCompass">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.SensorCompass" />
                 <param name="api" value="nat/sensor/compass" />
             </feature>
        </config-file>

        <source-file
             src="android/SensorCompass.java"
            target-dir="src/com/alibaba/weex/nat/SensorCompass.java" />

        <framework src="com.nat:sensor-compass:1.0.2" />
     </platform>

</plugin>
